.Mui-disabled {
    color: rgba(255, 255, 255, 0.25) !important;
}

.MuiStepConnector-line {
    color: #bdbdbd !important;
    padding-left: 1em;
    font-size: 0.45em;
}

.MuiOutlinedInput-notchedOutline {
    border-color: transparent !important;
}

.MuiInput-root {
    &::after {
        // border-radius: var(--borderRadius) !important;
        border-bottom: 1px solid var(--gameBlueSoft) !important;
    }
    &:hover {
        &:not(.Mui-disabled, .Mui-error) {
            &::before {
                // border-radius: var(--borderRadius) !important;
                border-bottom: 1px solid white !important;
            }
        }
    }
}

::selection {
    background: var(--gameBlueSoft);
}

// .customConnector {
//     border-left: none;
// }

.MuiStepLabel-label {
    color: white !important;
    font-size: 0.65em !important;
    font-family: 'Montserrat' !important;
}

.MuiPaper-root {
    background: transparent !important;
}

.MuiTypography-root {
    color: white;
    font-family: 'Montserrat' !important;
}

.MuiButton-containedPrimary {
    color: white !important;
    background: var(--gameBlueSoft) !important;
}

.MuiStepper-root {
    .Mui-completed, .Mui-active {
        :not(.MuiStepLabel-label):not(.MuiStepConnector-line) {
            color: var(--gameBlueSoft) !important;
        }
        svg {
            border-radius: 100% !important;
            background: radial-gradient(white 0%, transparent 100%) !important;
        }
    }
    .MuiButton-textPrimary {
        color: var(--gameBlueSoft) !important;
    }
    .MuiTextField-root {
        label {
            color: white !important;
            padding-left: 1em !important;
            &:not(.Mui-focused) {
                color: rgba(255,255,255,0.25) !important;
            }
        }
    }
}

form {
    &.ConcentrationGameForm {
        display: flex;
        grid-gap: 1em;
        font-size: 2em;
        align-items: center;
        flex-direction: column;
        transform: scale(1.25);
        justify-content: center;
        height: 75vh !important;
        font-family: 'Montserrat';
        label {
            color: white;
            font-weight: 600;
            font-size: 0.45em;
            text-align: center;
            font-family: 'Montserrat' !important;
        }
        input {
            width: 100%;
            font-size: 0.85em;
            text-align: center;
            font-family: 'Montserrat';
            margin: 5px 0 0 0 !important;
            background: transparent !important;
            border-bottom: 1px solid white !important;
            &:focus-visible {
                outline: none;
                box-shadow: none;
            }
            &::placeholder {
                opacity: 0.35 !important;
                font-family: 'Montserrat';
                font-size: 0.65em !important;
            }
        }
        button {
            min-height: 35px;
            border-radius: var(--borderRadius);
            font-family: 'Montserrat' !important;
            background: var(--blackGlass) !important;
        }
    }
}

@keyframes slideUp {
    0% {
        height: 0px;
        transform-origin: bottom;
    }
    100% {
        height: 100%;
    }
}